name: CI PHP Básico

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Verificar versión de PHP
        run: php -v

      - name: Mensaje DevOps
        run: echo "Pipeline CI ejecutado correctamente"
